{% extends "base_generic.html" %}

{% block content %}
    <h1>Book List</h1>

    {% if book_list %}
  
    <div class="container text-center">

      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for book in book_list %}
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ book.title }}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">{{book.author}}</h6>
              <p class="card-text">{{book.summary|truncatechars:90}}</p>
              <a href="{{ book.get_absolute_url }}" class=" btn btn-primary">View</a>

              {% if perms.catalog.can_mark_returned %}

              <a href="#" class=" btn btn-success">Update</a>
              <a href="#" class="btn btn-danger">Delete</a>

              {% endif %}

            </div>
          </div>
        </div>
        {% endfor %}
      
      
      </div>
    </div>

    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}

    {% if perms.catalog.can_mark_returned %}
    <a href="{% url 'book_create' %}" class=" btn btn-outline-secondary">Book Create</a>
  {% endif %}

{% endblock %}
