{% extends "base_generic.html" %}

{% block content %}
    <h1>Borrowed books</h1>

    {% if bookinstance_list %}
    <ul>

      {% for bookinst in bookinstance_list %}

      <div class="list-group ">
        <div class="btn-group ">
          <a class=" list-group-item-action list-group-item d-flex justify-content-between align-items-start btn btn-group " href="{% url 'book-detail' bookinst.book.pk %}" role="button"
          disabled>Link<small class="{% if bookinst.is_overdue %}text-danger{% endif %}" >{{ bookinst.due_back }} / {{ bookinst.borrower.username }}</small> </a>
            <a href="{% url 'renew-book-librarian' bookinst.id %}"" class="btn btn-outline-primary" role="button" data-bs-toggle="button">Renew</a>
        </div>
      </div>

      {% endfor %}

    </ul>

    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}
{% endblock %}
